.product_img {
  width: 32em;
  height: 32em;
  object-fit: cover;
}

.cart {
  width: 60vw;
  margin-top: 5em;
}

.info {
  margin-left: 2em;
  height: 32em;
}

.quant {
  font-size: 1.5em;
}
.product_img_cart {
  width: 12em;
  height: 12em;
  object-fit: cover;
}
.info_cart {
  margin-left: 2em;
  height: 2em;
}
.cart_cart {
  width: 60vw;
  margin-top: 5em;
}
.proceed_button {
  display: flex;
  justify-content: flex-end;
}

.purchase_item_class {
  display: flex;
  justify-content: center;
}
