.shopItem__card {
  width: 15em;
  background-color: #fff;
  margin-right: 0.5em;
  cursor: pointer;
}

.shopItem__card-header {
  width: 100%;
  position: relative;
}

.shopItem__card-header img {
  max-height: 10em;
  width: 100%;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.shopItem__card-content {
  padding: 0.25rem 0.5rem;
}

.shopItem__card-content small {
  line-height: 1.6;
  font-size: 0.75rem;
  color: #595959;
}

.shopItem__card-content p {
  font-size: 1rem;
}

.shopItem__product__name {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.6;
}

.shopItem__footer {
  display: flex;
  justify-content: space-between;
}

.shopItem__add_items {
  background-color: #fff;
  border: 1px solid rgba(136, 136, 136, 0.8);
  border-radius: 15px;
  padding: 0.1em 1.5em;
}
